
.form {
  width: 60%;
  margin: 50px auto;
}
@media (max-width: 768px) {
  .form {
    width: 80%;
  }
}
.phone_guidance a{
  color:#00f;
  font-size:40px;
  text-decoration: underline
}
@media (max-width: 768px) {
  .phone_guidance a{
    font-size:20px;
  }
}
.phone_guidance{
  width: 60%;
  margin: 50px auto;
}
@media (max-width: 768px) {
  .phone_guidance{
    width: 80%;
    margin: 20px auto;
  }
}
.ThxMessage{
  margin: 40px 0;
  font-size:20px;
  text-align:center;
  font-family: "Roboto Condensed", "Noto Sans JP", sans-serif;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.TopLink{
  width: 200px;
  margin: 40px auto;
  display: block;
  color: #000000;
  font-size:10px;
  text-align:center;
  font-family: "Roboto Condensed", "Noto Sans JP", sans-serif;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding: 1em 2em;
  border-radius: 1em;
  text-decoration: none;
  background: #f8f6f2;
  color: #000000;
  border: solid 0.5px #e6dccf;
}
.form--button {
  display: inline-block;
  margin: auto;
  padding: 1em 5em;
  border-radius: 5px;
  text-decoration: none;
  background: #f8f6f2;
  color: #000000;
  border: solid 0.5px #e6dccf;
}
.form--list {
  align-items: center;
  margin: 0 0 25px;
  font-size:12px;
}
.form--label {
  width: 100%;
  padding: 0 0 0 1%;
  letter-spacing: 1px;
  font-size: .8rem;
}
.form--label--info {
  width: 100%;
  padding: 0 0 2% 1%;
  letter-spacing: 1px;
  font-size: .8rem;
}
.form--label--tel {
  font-weight: bold;
}
.form--input, .form--text {
  background: #f8f6f2;
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e6dccf;
  border-radius: 5px;
  padding: 5px 5px;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
.form--select {
  outline: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: 12px;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
  padding: 3px 12px;
  border: 1px solid #e6dccf;
  background: #f8f6f2;
  border-radius: 5px;
}
.form--textarea {
  background: #f8f6f2;
  font: 1em sans-serif;
  height:100px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e6dccf;
  border-radius: 5px;
  padding: 5px 5px;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  resize:none;
}
.select {
  outline: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 30px;
  padding: 3px 12px;
  border: 1px solid #e6dccf;
  background: #f8f6f2;
  border-radius: 5px;
}
.textarea {
  text-align: left;
  height: 200px;
}
.back_white_wrap {
  background-color: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #d1cdc7;
  margin: 23px 0 0 0;
  padding: 26px;
  color: #444;
  font-size: 13px;
}
.form--list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 20px;
}
.form--radio--list {
  display: flex;
  flex-wrap: wrap;
}
.form--radio--txt {
  padding: 0 19px;
  font-size: 11px;
}
.form--radio--content {
  margin: 5px 5px 20px 0;
}
.form--radio--content li {
  padding: 0px 10px 0px 0;
}
.form--radio--content input[type="radio"] {
  display: none;
}
.form--radio--content input[type="radio"]:checked + .form--label--seat {
  background: #9e9eff;
  color: #FFF;
}
.form--radio--content input[type="radio"]:checked + .form--label--course1 {
  background: #ffc489;
  color: #FFF;
}
.form--radio--content input[type="radio"]:checked + .form--label--course2 {
  background: #e6dccf;
  color: #FFF;
}
.form--radio--content label {
  color: #444;
  border: 1px solid #E6DCCF;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 19px;
  cursor: pointer;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}
.form--radio--reserve label {
  margin: 0 0 10px;
}
.form_btn {
  text-align: center;
  background: pink;
  border-radius: 20px;
  margin: 30px 0 0;
}
.btn_area {
  color: #fff;
  display: block;
  font-size: 0.6rem;
}
.btn_area_link {
  display: block;
  width: 100%;
}
