</section>
<section class="access">
	<div class="access--inner">
		<div class="acess--map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.9940331292605!2d130.51507531514645!3d33.318971463461246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541a4598319916b%3A0x9214d39b0a6bb32e!2z44Ko44Or44O744OQ44Or44Kz!5e0!3m2!1sja!2sjp!4v1564753437237!5m2!1sja!2sjp" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="access--txt">
			<dl>
				<dt>住所</dt>
				<dd>〒830-0013 福岡県久留米市櫛原町126-8</dd>
			</dl>
			<dl>
				<dt>アクセス</dt>
				<dd>JR櫛原駅から徒歩約10分</dd>
			</dl>
			<dl>
				<dt>営業時間</dt>
				<dd>火〜金曜日：17:30~22:30<br>土・日曜日：12:00~14:30、17:30~22:30</dd>
			</dl>
			<dl>
				<dt>定休日</dt>
				<dd>月曜日</dd>
			</dl>
			<dl>
				<dt>電話番号</dt>
				<dd><a href="tel:0942-31-2032">0942-31-2032</a></dd>
			</dl>
		</div>
	</div>
	<div class="more-btn contact-btn"><a href="/contact"><span class="btn-text">ご予約はこちらから</span></a></div>
</section>
</div>

<footer class="footer">
<div class="footer--inner">
	<nav class="footer--nav">
		<ul class="footer--nav--area">
			<li class="footer--nav--item"><a href="/about">当店について</a></li>
			<li class="footer--nav--item"><a href="/menu">メニュー</a></li>
			<li class="footer--nav--item"><a href="/drink">ドリンク</a></li>
			<li class="footer--nav--item"><a href="/contact">お問い合わせ</a></li>
		</ul>
	</nav>
	<div class="footer--logo">
		<p><a href="<%- config.root %>"><img class="" src="<%- config.root %>images/logo-el.png" alt="el barco"></a></p>
	</div>
	<div class="footer--address">
		〒830-0013<br class="sp_only"> 福岡県久留米市櫛原町126-8
	</div>
	<div class="footer--info">
		<ul class="footer--sns">
			<li><a href=""><i class="fab fa-facebook"></i></a></li>
			<li><a href=""><i class="fab fa-instagram"></i></a></li>
		</ul>
		<!-- <div class="footer--privacy">
			<p class="footer--privacy--txt">PRIVACY POLICY</p>
		</div> -->
		<div class="copy">
			<small>エルバルコ</small>
		</div>
	</div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<%- js('js/script.js') %>