<%- partial('_partial/head') %>
<body class="drawer drawer--left" style="background-color: #EEEEEE;">
  <!-- T -->
  <a href="#" class="page-top" style="color: #fff;"><img src="<%- config.root %>images/arrow_5.png" /></a>
  <div  id="container">
     <div id="main">
      <%- body %>
    </div>
    <%- partial('_partial/footer') %>
  </div>
</body>
</html>